---
- name: Copy stack file to manager
  copy:
    src: docker-stack.yml
    dest: /tmp/docker-stack.yml
    mode: '0644'
  when: inventory_hostname in groups['managers']

- name: Deploy stack on manager
  command: docker stack deploy --with-registry-auth -c /tmp/docker-stack.yml jenkinsstack
  become: true
  when: inventory_hostname in groups['managers']
